<h1>Whoops, not enough caffeine.</h1>

<section class='error'>
  <p align='center'><img id='failwhale' src='/images/failwhale.png' alt='Fail Whale!'/></p>

  <p class='message'>The problem with 48 hour programming competitions is that they're only 48 hours. Looks like you've come across some kind of bug in the system. We've been notified about it, and if we can figure out how we'll fix it. Thanks!</p>
</section>