<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FlockFeeds - Turn Twitter into personalized news feeds!</title>
    <link rel="stylesheet" href="/stylesheets/application.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body<% if (process.env.ANNOUNCEMENT) { %> class='announcement'<% } %>>
    <aside id='announcement'>
      <p><%- process.env.ANNOUNCEMENT %> <a href='#close' rel='close'>Close</a></p>
    </aside>
    <header id='top'>
      <h1><a href='/'>FlockFeeds</a></h1>
    </header>
    <div id='wrapper'>
      <header id='content_top'>
      </header>
      <div id='content'>
        <%- body %>
      </div>
      <footer id='content_bottom'>
        <span>Copyright &copy; 2010 <a href='http://www.intridea.com/'>Intridea, Inc.</a>. Built for the <a href='http://nodeknockout.com/teams/flockfeed'>Node Knockout</a>.</span>
        <dl>
          <dt>Email:</dt>
          <dd><a href='mailto:flockfeeds@intridea.com'>flockfeeds@intridea.com</a></dd>
          <dt>Twitter:</dt>
          <dd><a href='http://twitter.com/flockfeeds' target='_blank'>@flockfeeds</a>
          <dt>Blog:</dt>
          <dd><a href='http://flockfeeds.tumblr.com/'>Tumblr</a>
        </dl>
      </footer>
    </div>
    <a id='nko_vote' href="http://nodeknockout.com/teams/flockfeed" target="nko" title="Help me win Node.js KO!" style="position: fixed; top: 5px; right: 5px; border: 0px;"><img src="http://nodeknockout.com/images/voteko.png" alt="Help me win Node.js KO!" /></a>
  </body>
</html>
