<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>FlockFeeds - Populating Your FlockFeed...</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/application.css'/>
  </head>
  <body id='loading'>
    <div>
      <img src='/images/big_logo.png' alt='FlockFeeds Logo'/>
      <hgroup>
        <h1>Populating your feed...</h1>
        <h2>We're getting your feed ready...just a moment!</h2>
      </hgroup>
    </div>
  </body>
</html>