<rss version="2.0"> 
   <channel> 
      <title><%= user.name %>'s Flockfeed</title> 
      <link>http://flockfeeds.com/feeds/<%= user.key %></link> 
      <description>Your personalized twitter feed</description> 
      <language>en-us</language> 
      <pubDate><#% user.last_fetched.toGMTString() %></pubDate>
      <lastBuildDate><#% user.last_fetched.toGMTString() %></lastBuildDate> 
      <generator>Flockfeeds</generator>
      <item> 
         <title>Star City</title> 
         <link>http://liftoff.msfc.nasa.gov/news/2003/news-starcity.asp</link> 
         <description>How do Americans get ready to work with Russians aboard the International Space Station? They take a crash course in culture, language and protocol at Russia's &lt;a href="http://howe.iki.rssi.ru/GCTC/gctc_e.htm"&gt;Star City&lt;/a&gt;.</description> 
         <pubDate>Tue, 03 Jun 2003 09:39:21 GMT</pubDate> 
         <guid>http://liftoff.msfc.nasa.gov/2003/06/03.html#item573</guid> 
      </item> 
   </channel> 
</rss>
