<h1>Welcome to FlockFeeds!</h1>

<p>Flockfeeds is an innovative way to get hyper-personalized RSS feeds.
How do we do it? By turning your Twitter stream into an RSS feed! Simply
sign in using the link below and you'll be given a personal private RSS
URL that you can plug into any feed reader. Any time someone you follow
posts a link, it will become a new entry in the RSS feed. Think of it
as bridging the gap between news readers and social newsgathering.</p>

<a href='/sign_in' id='sign_in_link'>Sign in with Twitter</a>