<h1>Welcome to FlockFeeds!</h1>

<section id='intro'>
  <p>Flockfeeds is an innovative way to get hyper-personalized news feeds.
  How do we do it? By turning your <b>Twitter stream</b> into an <b>RSS feed</b>! Simply
  sign in using the link below and you'll be given a personal, private RSS
  URL that you can plug into any feed reader. Any time someone you follow
  posts a link, it will become a new entry in the RSS feed. Think of it
  as bridging the gap between news readers and social newsgathering.</p>

  <section id='sign_in'>
    <aside>Create your FlockFeed...</aside>
    <a href='/sign_in' id='sign_in_link'><img src='/images/sign_in.png' alt='Sign in with Twitter'/></a>
  </section>
</section>

<h1>About the Team</h1>

<section id='about'>
  <article class='person'>
    <img src='http://s3.amazonaws.com/intridea.com/production/photos/7/original.png?1267507537'/>
    <h1>Michael Bleigh</h1>
    <p>A long-time Rubyist dabbling his toes in the land of Node, Michael is responsible for the plan, the design, and figuring out how the heck to get dependencies deployed properly to Heroku.</p>
  </article>
  <article class='person'>
    <img src='http://s3.amazonaws.com/intridea.com/production/photos/34/original.jpg?1267543616'/>
    <h1>Sean Soper</h1>
    <p>Sean does Ruby and mobile development for Intridea and was responsible for wrangling Readability.js into working with server-side Node (no small feat)!</p>
  </article>
  <article class='person'>
    <img src='http://s3.amazonaws.com/intridea.com/production/photos/56/original.png?1275871374'>
    <h1>Jerry Cheung</h1>
    <p>Jerry's been using Rails since 2007 but was quite excited for the chance to give Node a shot. He built the processes to make sure the feeds stay hot and fresh.</p>
  </article>
  <article class='company'>
    <img src='/images/intridea.png' alt='Intridea'/>
    <p>FlockFeeds was created by a team of developers from <a href='http://www.intridea.com/' target='_blank'>Intridea</a>, an agile web development shop (ordinarily) specializing in Ruby and Rails. Always looking to try new technologies, a few of us decided to jump in and learn Node.js in the most intense way possible: by building an app in 48 hours!</p>
  </article>
</section>