@import css3.sass
@import html5.sass

body, html
  min-height: 100%
  padding: 0

body
  font-family: "Lucida Grande", "Lucida Sans", sans-serif
  background: #104D84
  +vertical-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4),#104d84)
  color: #333

a
  color: black
  font-weight: bold
  img
    border: 0

#wrapper
  margin: 0 auto
  width: 960px
  
#top
  width: 960px
  margin: 0 auto
  text-align: center
  > a
    display: inline-block
    padding-top: 1px
    img
      margin-top: 15px
      vertical-align: middle
  h1
    margin: 0
    padding: 0
    display: inline-block
    vertical-align: middle
    a
      display: inline-block
      background: url(/images/logo.png)
      width: 470px
      height: 150px
      text-indent: -999em
      
article.company
  padding: 10px
  +vertical-gradient(#666,#444,#555)
  color: #ddd
  +border-bottom-left-radius(40px)
  +border-top-left-radius(5px) 
  +border-right-radius(10px)
  +box-shadow(1px, 1px, 8px, rgba(0,0,0,0.25)) 
  margin-bottom: 30px
  height: 100px
  a
    color: white
  img
    float: left
    margin-right: 15px
  p
    font-size: 14px
    margin: 15px 0
      
#content
  +vertical-gradient(rgba(0,0,0,0),rgba(0,0,0,0.2),#fff)
  padding: 20px 25px
  +box-shadow(0,10px,10px,rgba(0,0,0,0.3))
  h1, h2, h3
    font-family: Helvetica, Arial, sans-serif
    color: #222
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2)  
  > h1:first-child
    +vertical-gradient(#444,#222,#333)
    color: white
    margin: -20px -25px 20px
    padding: 8px 16px
    +box-shadow(0px,2px,8px,rgba(0,0,0,0.3))
  p
    line-height: 150%
  
#content_top
  +vertical-gradient(#ccc,#999)
  +box-shadow(0,2px,6px,rgba(0,0,0,0.3))
  +border-top-radius(8px)
  z-index: 10000
  text-align: right
  padding-right: 12px
  height: 26px
      
#content_bottom
  +vertical-gradient(#999,#666)
  +box-shadow(0,2px,6px,rgba(0,0,0,0.3))
  +border-bottom-radius(8px)
  text-align: right
  padding: 6px 12px
  font-size: 12px
  text-shadow: 1px 1px 1px rgba(255,255,255,0.2)
  margin-bottom: 30px
  color: black
  span
    float: left
  dl
    display: inline
    margin: 0
    dt, dd
      display: inline
      margin: 0
      padding: 0
      font-size: 12px
      text-shadow: 1px 1px 1px rgba(255,255,255,0.2)
    dt
      text-transform: lowercase

=impression
  +vertical-gradient(#ccc,#aaa,#bbb)
  +border-radius(10px)
#sign_in
  padding: 15px
  text-align: center
  +impression
  aside
    line-height: 80px
    display: inline-block
    font-size: 38px
    font-family: Helvetica, Arial, sans-serif
    margin-right: 20px
    letter-spacing: -0.05em
  aside, img
    vertical-align: middle
    
article.person
  clear: left
  margin-bottom: 15px
  +vertical-gradient(#eee,#ccc,#ddd)
  +border-radius(10px)
  +box-shadow(1px,1px,5px,rgba(0,0,0,0.2))
  padding: 15px
  height: 114px
  h1
    font-size: 30px
    margin: 0 0 5px 0
  img
    width: 120px
    height: 104px
    border: 6px solid white
    +box-shadow(2px,2px,8px,rgba(0,0,0,0.3))
    float: left
    margin-right: 15px
  p
    margin: 10px 0 0
    line-height: 140%
    font-size: 14px
    
#rss_link
  display: block
  margin: 40px 30px
  +impression
  font-family: Helvetica, Arial, sans-serif
  font-size: 22px
  padding: 15px 10px 15px 60px
  text-decoration: none
  background-image: url(/images/rss.png)
  background-repeat: no-repeat
  background-position: 10px 7px
  &:hover
    +vertical-gradient(#ddd,#bbb,#ccc)
    background-image: url(/images/rss.png)
    background-repeat: no-repeat
    background-position: 10px 7px
    
#loading
  text-align: center
  h1, h2
    color: white
    text-shadow 2px 2px 7px rgba(0,0,0,0.5)
    
table#logs
  width: 100%
  overflow: hidden
  font-size: 11px  
  border-collapse: collapse
  thead
    th
      background: #666
      color: white
      padding: 4px 6px
  tbody
    td, th
      padding: 4px 6px
      overflow: hidden
      background: white
      border-bottom: 1px solid #ddd
      
#announcement
  display: none
  position: fixed
  width: 100%
  background: rgba(0,0,0,0.5)
  color: white
  padding: 6px 0
  font-size: 16px
  top: 0
  left: 0
  z-index: 100000
  border-bottom: 1px solid black
  +box-shadow(0px,1px,6px, black)
  p
    width: 960px
    margin: 0 auto
    text-align: center
    text-shadow 1px 1px 3px black    
  a
    color: white
    
body.announcement
  padding-top: 20px
  #announcement
    display: block
  #nko_vote
    margin-top: 30px
    
#failwhale
  border: 10px solid white
  border-bottom-width: 40px
  +box-shadow(2px,2px,15px,rgba(0,0,0,0.2))
  margin: 25px
  +rotate(-5)
  
.error .message
  +impression
  padding: 20px
  
ul.readers
  text-align: center
  li
    display: inline-block
    a
      display: inline-block
      +vertical-gradient(#555,#333,#444)
      color: white
      font-weight: bold
      font-family: Helvetica, Arial, sans-serif
      font-size: 18px
      text-decoration: none
      padding: 8px 14px
      +border-radius(4px)
      +box-shadow(0,2px,7px,rgba(0,0,0,0.3))
      border: 1px solid #333
      &:hover
        +vertical-gradient(#380,#160,#270)
        
.impression
  +impression
  padding: 20px