aside, article, section, header, footer, nav {
  display: block; }

body, html {
  min-height: 100%; }

body {
  font-family: "Lucida Grande", "Lucida Sans", sans-serif;
  background: #104d84;
  background-color: #104d84;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.4)');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.4)')";
  color: #333333; }

a {
  color: black;
  font-weight: bold; }

#wrapper {
  margin: 0 auto;
  width: 960px; }

#top {
  text-align: center; }
  #top h1 {
    margin: 0;
    padding: 0;
    display: inline-block; }
    #top h1 a {
      display: block;
      background: url(/images/logo.png);
      width: 470px;
      height: 150px;
      text-indent: -999em; }

#content {
  background-color: white;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.2)');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.2)')";
  padding: 20px 25px;
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=10px, Color='rgba(0, 0, 0, 0.3)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=10px, Color='rgba(0, 0, 0, 0.3)')\""; }
  #content h1, #content h2, #content h3 {
    font-family: Helvetica, Arial, sans-serif;
    color: #222222;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); }
  #content > h1:first-child {
    background-color: #333333;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -moz-linear-gradient(top, #444444, #222222);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222')";
    color: white;
    margin: -20px -25px 20px;
    padding: 8px 16px;
    -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='rgba(0, 0, 0, 0.3)')";
    -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='rgba(0, 0, 0, 0.3)')\""; }
  #content p {
    line-height: 150%; }

#content_top {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#999999));
  background-image: -moz-linear-gradient(top, #cccccc, #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999')";
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2px, Color='rgba(0, 0, 0, 0.3)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2px, Color='rgba(0, 0, 0, 0.3)')\"";
  height: 26px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  z-index: 10000; }

#content_bottom {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#666666));
  background-image: -moz-linear-gradient(top, #999999, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666')";
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2px, Color='rgba(0, 0, 0, 0.3)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2px, Color='rgba(0, 0, 0, 0.3)')\"";
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  margin-bottom: 30px; }

#sign_in {
  padding: 15px;
  text-align: center;
  background-color: #bbbbbb;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#aaaaaa));
  background-image: -moz-linear-gradient(top, #cccccc, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa')";
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  #sign_in aside {
    line-height: 80px;
    display: inline-block;
    font-size: 38px;
    font-family: Helvetica, Arial, sans-serif;
    margin-right: 20px;
    letter-spacing: -0.05em; }
  #sign_in aside, #sign_in img {
    vertical-align: middle; }

article.person {
  clear: left;
  margin-bottom: 10px;
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#cccccc));
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc')";
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='rgba(0, 0, 0, 0.2)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='rgba(0, 0, 0, 0.2)')\"";
  padding: 15px;
  height: 114px; }
  article.person h1 {
    font-size: 30px;
    margin: 0 0 5px 0; }
  article.person img {
    width: 120px;
    height: 104px;
    border: 6px solid white;
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=2px, OffY=2px, Color='rgba(0, 0, 0, 0.3)')";
    -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=2px, OffY=2px, Color='rgba(0, 0, 0, 0.3)')\"";
    float: left;
    margin-right: 15px; }
  article.person p {
    margin: 10px 0 0;
    line-height: 140%;
    font-size: 14px; }

#rss_link {
  display: block;
  margin: 40px 30px;
  background-color: #bbbbbb;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#aaaaaa));
  background-image: -moz-linear-gradient(top, #cccccc, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa')";
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  padding: 15px 10px 15px 60px;
  text-decoration: none;
  background-image: url(/images/rss.png);
  background-repeat: no-repeat;
  background-position: 10px 7px; }
  #rss_link:hover {
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#bbbbbb));
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#bbbbbb');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#bbbbbb')";
    background-image: url(/images/rss.png);
    background-repeat: no-repeat;
    background-position: 10px 7px; }
